@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Playpen+Sans+Thai:wght@100..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url(./product.css);
@import url(./routines.css);

:root {
  --color-soft-ivory: #f6f4ee;
  --color-sand-beige: #eae1d3;
  --color-light-taupe: #d4c6b4;
  --color-taupe-brown: #b4a291;
  --color-charcoal: #222222;
  --color-pure-white: #ffffff;

  /* Font Sizes */
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-26: 26px;
  --font-size-28: 28px;
  --font-size-30: 30px;
  --font-size-32: 32px;
  --font-size-52: 52px;
  --font-size-60: 60px;
  --font-size-62: 62px;
  --font-size-64: 64px;
  --font-size-72: 72px;

  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;

  /* Font Families */
  --font-family-merriweather: "Merriweather", serif;
  --font-family-poppins: "Poppins", sans-serif;
  --font-family-Playpen: "Playpen Sans Thai", sans-serif;

  /* Borders */
  --border-radius-10: 10px;
  --border-radius-12: 12px;
  --border-radius-14: 14px;
  --border-radius-16: 16px;
  --border-radius-18: 18px;

  /* Spacings */
  --spacing-8: 8px;
  --spacing-10: 10px;
  --spacing-14: 14px;
  --spacing-16: 16px;
  --spacing-18: 18px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-26: 26px;
  --spacing-28: 28px;
  --spacing-32: 32px;

  /* Breakpoints */
  --breakpoint-mobile: 768px;
  --breakpoint-tablet: 1024px;
  --breakpoint-desktop: 1200px;

  /* Transitions */

  --transition-fast: 0.3s ease-in-out;
  --transition-medium: 0.5s ease-in-out;
  --transition-slow: 1s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-soft-ivory);
  font-family: var(--font-family-poppins);

  .headerPage-aureaDerm {
    position: fixed;
    width: 100%;
    padding: 0 4rem;
    top: 0;
    left: 0;
    z-index: 20;

    .headerPage-aureaDerm__container {
      width: 100%;
      height: 90px;
      display: flex;
      padding: var(--spacing-32) 0;
      align-items: center;
      justify-content: space-between;

      .headerPage-aureaDerm__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: var(--spacing-8);

        .bx-logoPage {
          width: 50px;
          height: 50px;
        }
        .txtLogo {
          font-family: var(--font-family-Playpen);
          font-weight: var(--font-weight-bold);
          text-transform: uppercase;
        }
      }

      .headerPage-aureaDerm__menu {
        width: fit-content;
        height: fit-content;

        .headerPage-aureaDerm__menu-list {
          display: flex;
          gap: var(--spacing-32);

          .headerPage-aureaDerm__menu-item {
            .headerPage-aureaDerm__menu-link {
              text-decoration: none;
              color: var(--color-charcoal);
              font-size: var(--font-size-16);
              font-weight: var(--font-weight-medium);
              transition: var(--transition-fast);

              &:hover {
                color: var(--color-taupe-brown);
              }
            }
          }

          .headerPage-aureaDerm__menu-item.activeMenu {
            .headerPage-aureaDerm__menu-link {
              padding: var(--spacing-8) var(--spacing-18);
              border-radius: var(--border-radius-12);
              background-color: var(--color-light-taupe);
              border: 2px solid var(--color-sand-beige);
              color: var(--color-pure-white);
            }
          }
        }
      }
      .content_socialNetworks {
        .content_socialNetworks-list {
          display: flex;
          align-items: center;
          gap: var(--spacing-16);

          .content_socialNetworks-item {
            .bx {
              font-size: var(--font-size-24);
              cursor: pointer;
              border-radius: 999px;
              transition: all 0.2s ease-in-out;

              &:hover {
                color: var(--color-taupe-brown);
              }
            }
          }
        }
      }
    }
  }
  .content_paginicio {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    justify-content: space-between;
    padding-left: 4rem;
    display: flex;
    align-items: center;

    .info_inicio {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-14);

      .texto_principal {
        font-size: var(--font-size-72);
        font-family: var(--font-family-merriweather);
        width: 12ch;
      }

      .texto_1 {
        display: flex;
        font-size: var(--font-size-18);
      }

      .Renuevatupiel {
        position: relative;
        display: flex;
        font-size: var(--font-size-14);
        width: fit-content;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        font-weight: var(--font-weight-bold);
        border-radius: 999px;
        border-top-left-radius: 0;
        padding: var(--spacing-16) var(--spacing-32);
        border: none;
        outline: none;
        background-color: var(--color-light-taupe);
        color: var(--color-soft-ivory);
        margin-top: 2rem;
        border: 2px solid var(--color-taupe-brown);
        cursor: pointer;
        transition: var(--transition-fast);
        overflow: hidden;

        &::before {
          content: "";
          position: absolute;
          top: 2rem;
          left: -12rem;
          width: 200px;
          height: 200px;
          border-radius: 999px;
          background-color: var(--color-taupe-brown);
          z-index: -1;
          transition: var(--transition-medium);
        }

        &:hover {
          filter: drop-shadow(0 6px 8px #b4a291);

          &::before {
            width: 500px;
            height: 500px;
            left: -80px;
            top: -80px;
          }
        }
      }
    }
    .imagen_home {
      position: relative;
      width: 50%;
      .imaghome {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .luna {
        background-image: url("../assets/icons/luna.svg");
      }
    }
  }
}
