:root{
    --color-soft-ivory: #F6F4EE;
    --color-sand-beige: #EAE1D3;
    --color-light-taupe: #D4C6B4;
    --color-taupe-brown: #B4A291;
    --color-charcoal: #222222;
    --color-pure-white: #FFFFFF;

    /* Font Sizes */
    --font-size-10: 10px;
    --font-size-12: 12px;
    --font-size-14: 14px;
    --font-size-16: 16px;
    --font-size-18: 18px;
    --font-size-20: 20px;
    --font-size-22: 22px;
    --font-size-24: 24px;
    --font-size-26: 26px;
    --font-size-28: 28px;
    --font-size-30: 30px;
    --font-size-32: 32px;
    --font-size-60: 60px;
    --font-size-62: 62px;
    --font-size-64: 64px;

    /* Font Weights */
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-black: 900;

    /* Font Families */

    /* Borders */
    --border-radius-10: 10px;
    --border-radius-12: 12px;
    --border-radius-14: 14px;
    --border-radius-16: 16px;
    --border-radius-18: 18px;

    /* Spacings */
    --spacing-10: 10px;
    --spacing-14: 14px;
    --spacing-16: 16px;
    --spacing-18: 18px;
    --spacing-20: 20px;
    --spacing-24: 24px;
    --spacing-26: 26px;
    --spacing-28: 28px;
    --spacing-32: 32px;


    /* Breakpoints */
    --breakpoint-mobile: 768px;
    --breakpoint-tablet: 1024px;
    --breakpoint-desktop: 1200px;


    /* Transitions */
    --transition-fast: 0.3s ease-in-out;
    --transition-medium: 0.5s ease-in-out;
    --transition-slow: 1s ease-in-out;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{

    background-color: var(--color-soft-ivory);

    .headerPage-aureaDerm{
        width: 100%;
        padding: 0 4rem;

        
        position: absolute;
        top: 0 ;
        left: 0;

        .headerPage-aureaDerm__container{
            display: flex;
            justify-content: space-between;
            .headerPage-aureaDerm__menu{
                .headerPage-aureaDerm__menu-list{
                    display: flex;
                    gap: var(--spacing-32);
                    .headerPage-aureaDerm__menu-item{
                    }
                    
                }
            
            }
            .content_socialNetworks{
                .content_socialNetworks-list{
                    display: flex;
                    gap:var(--spacing-16) ;
        
                }
                
            }



            
        }
    }
    .content_paginicio{
        width: 100%;
        height: 100vh;
        
        justify-content:space-between ;
        padding-left: 4rem;
        display: flex;
        align-items: center;
        .info_inicio{

        
        width: 50%;
            display: flex;
            flex-direction:column;
            gap: var(--spacing-14);
            .texto_principal{
                font-size: var(--font-size-64);
                
                width: 15ch;

            }
            .texto_1{
                display: flex;
                font-size:var(--font-size-24);

            }
            .Renuevatupiel{
                display: flex;
                font-size:var(--font-size-14);
                width:fit-content;
                border-radius:999px ;
                border-top-left-radius: 0;
                padding: 6px 32px;
                border: none;
                outline:none;
                background-color:var(--color-light-taupe);
                color: var(--color-soft-ivory);
                margin-top:2rem ;

            }
        }
        .imagen_home{
            position: relative;
            width:50%;
         .imaghome{
            width: 100%;
            height: 100%;
            object-fit: cover;
         }
            .luna{
                background-image: url("./luna.svg");
            }
        }
    }
    
    .content_producto{
        border: 2px solid blue;
        width: 100%;
        display:flex;
    
    }
    .shampoo{
        width: 50%;
    }
    .info_producto{
        width: 50%;
        background-color:var(--color-sand-beige);
        padding: 80px;
        flex-direction: column;
        justify-content: center;
    }
    .categoria{
    font-size: 12px;
    letter-spacing: 2px;
    color: var(--color-taupe-brown);
    margin-bottom: 20px;
}


.texto_principal{
    font-size: 42px;
    color: var(--color-charcoal);
    margin-bottom: 64px;
    line-height: 1.2;
}


.reviews{
    font-size: 14px;
    color: var(--color-taupe-brown);
    margin-bottom: 25px;
}


.texto_1{
    font-size: 15px;
    color: var(--color-charcoal);
    line-height: 1.6;
    margin-bottom: 30px;
    max-width: 420px;
}


.precio{
    font-size: 26px;
    color: var(--color-charcoal);
    margin-bottom: 5px;
}

.contenido{
    font-size: 13px;
    color: var(--color-taupe-brown);
    margin-bottom: 25px;
}


.cantidad{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.cantidad button{
    width: 35px;
    height: 35px;
    border: 1px solid var(--color-light-taupe);
    background: transparent;
    cursor: pointer;
    font-size: 18px;
}

.cantidad span{
    font-size: 16px;
    color: var(--color-charcoal);
}


.botones{
    display: flex;
    gap: 15px;
}

.agregar{
    padding: 12px 22px;
    border: 1px solid var(--color-taupe-brown);
    background: transparent;
    color: var(--color-charcoal);
    cursor: pointer;
    letter-spacing: 1px;
    border-radius:999px 
}

.comprar{
    padding: 12px 22px;
    border: none;
    background-color: var(--color-taupe-brown);
    color: var(--color-pure-white);
    cursor: pointer;
    border-radius:999px 
}


.agregar:hover{
    background-color: var(--color-light-taupe);
    
}

.comprar:hover{
    background-color: var(--color-charcoal);
}
}
